<div class="top-header">
    <div class="header-logo">
        <p><a href="/shop/<%= user._id %>/profile">caramel</a></p>
    </div>
    <div class="header-navigation">
        <p><a href="/shop/<%= user._id %>/profile">DASHBOARD</a></p>
        <p><a href="/shop/<%= user._id %>/orders">REPAIR ORDERS</a></p>
        <p><a href="/shop/<%= user._id %>/invoice" id="active">INVOICES</a></p>
        <p><a href="/shop/<%= user._id %>/customer">CUSTOMERS</a></p>
        <p><a href="/shop/<%= user._id %>/technician">TECHNICIANS</a></p>
        <p><a href="/shop/<%= user._id %>/jobs">CANNED JOBS</a></p>
        <p><a href="/shop/<%= user._id %>/quote">QUOTES</a></p>
        <p><a href="/shop/<%= user._id %>/vehicles">VEHICLES</a></p>
    </div>
    <div class="header-right">
        <p><a class="red-link" href="/logout">LOG OUT</a></p>
    </div>
</div>